.portfolio{
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
}

.portfolio h1{
    font-size: 50px;
}

.portfolio ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
}

.portfolio ul li{
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active{
        background-color: #15023a;
        color: white;
    } 
}

.portfolio .container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio .container .item{
    width: 260px;
    height: 165px;
    border-radius: 20px;
    border: 1px solid rgb(240,239,239);
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
    cursor: pointer;

    &:hover{
        background-color: #15023a;
        transform: scale(1.1);
    }
}

.container h3{
    position: absolute;
    font-size: 20px;
}

.container img{
    width: 100%;
    height: 135%;
    object-fit: cover;
    z-index: 1;

    &:hover{
        opacity: 0.2;
        z-index: 0;
    }
}